<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find tuda_turtlebot3_gazebo)/config/wheel_controllers.yaml" command="load"/>
  
  <!-- load the controllers -->
  <node name="wheel_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
    args="wheel1_controller wheel2_controller wheel3_controller
          --shutdown-timeout 3" />
</launch>
