<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="tuda_turtlebot3" />
  <arg name="with_arm" default="False" />

  <param name="use_gui" value="True" />
  
  <include file="$(find tuda_turtlebot3_description)/launch/load_tuda_turtlebot3_robot_description.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="with_arm" value="$(arg with_arm)" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tuda_turtlebot3_description)/rviz/xacrodisplay.rviz" />
</launch>
