<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://ros.org/wiki/xacro"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro" name="$(arg ball_name)">

<xacro:include filename="$(find ballbot_description)/urdf/ball_double_wheel.gazebo.xacro" />

<xacro:macro name="ball_double_macro">
<!--      <link name="base_footprint_ball" />
      <joint name="body_joint" type="fixed">
         <parent link="base_footprint_ball" />
         <child link="ball_link" />
         <origin xyz="0.0 0.0 0.080" rpy="0.0 0.0 0.0" />
      </joint>-->

      <link name="ball_link">
         <visual name ="basket_ball">
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry> <!-- if you wanna use no texture use:  <mesh filename="package://ballbot_description/meshes/base/Ball_160mm_2.stl" scale="0.001 0.001 0.001" /> -->
               <mesh filename="package://ballbot_gazebo/models/soccer_ball/meshes/ball.dae" scale="0.001 0.001 0.001" />
            </geometry>
            <cast_shadows>1</cast_shadows>
            <transparency>0</transparency>
            <material name="basket_ball"/>
         </visual>
         <inertial>
            <origin xyz="0.0 0.0 0.0" />
            <mass value="0.326" />
            <inertia ixx="0.00139093333333" ixy="0" ixz="0" iyy="0.00139093333333" iyz="0" izz="0.00139093333333" />
         </inertial>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="package://ballbot_gazebo/models/soccer_ball/meshes/ball.dae" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
      </link>

   </xacro:macro>
</robot>

<!-- Notes:
Inertia Calculation: http://hyperphysics.phy-astr.gsu.edu/hbase/isph.html
-->
