<?xml version="1.0"?>

<model>
  <name>Orange Tennis Ball</name>
  <version>1.0</version>
  <sdf version='1.5'>tennis_ball.sdf</sdf>

  <author>
    <name>Alexander Stumpf</name>
    <email>stumpf@sim.tu-darmstadt.de</email>
  </author>

  <description>
    Tennis ball used for TurtleBot Tennis.
  </description>
</model>
