<?xml version="1.0"?>

<model>
  <name>Basket Ball</name>
  <version>1.0</version>
  <sdf version='1.5'>basket_ball.sdf</sdf>

  <author>
    <name>Markus Lamprecht</name>
    <email>lamprecht@sim.tu-darmstadt.de</email>
  </author>

  <description>
    Basket Ball used as Ball's Texture for the Ballbot.
  </description>
</model>
